{{#paper-sidenav-container class="site-nav-container"}}

  {{#paper-sidenav
    class="md-whiteframe-z2 main-lefthand-nav"
    name="left"
    lockedOpen="gt-sm"
    open=true
    closed=true
  }}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Alex<br>Alvarez{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#each sections as |section|}}
      {{#paper-content class="sidenav-item" padding=true}}
        {{section.title}}
      {{/paper-content}}
    {{/each}}

    {{#paper-content padding=true}}
      {{!-- TODO fix alignment. Slack Logo and EmberJS Community Slack should be on same line --}}
      {{ico-slack}}
        <a class="clean-link" href="https://embercommunity.slack.com/">
        EmberJS Community Slack
      </a>
      <br>
      @alexander-alvarez

    {{/paper-content}}


    {{#with model.user as |user|}}
    {{!-- TODO see https://github.com/elwayman02/ember-data-github/pull/79 --}}
      <a href="{{user.htmlUrl}}">
        <img class="box" src="{{user.avatarUrl}}">
      </a>
    {{/with}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-row layout-xs-column">
      <div class="layout-column flex-xs flex-gt-xs-50">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}Technologies{{/text.headline}}
            {{/title.text}}

          {{/card.title}}
        {{/paper-card}}
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}About Me{{/text.headline}}
            {{/title.text}}

          {{/card.title}}
        {{/paper-card}}


      </div>
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}

{{outlet}}
