<div class="technology">
  <i>
    <p class="quote">
      Move fast, break things.
    </p>
  </i>

  <p>
    As a full-stack developer I excel in delivering products. Below are some technologies that I leverage to be
    productive.
  </p>

  <div class="icons-panel">

    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'ember-logo' width='100' height='100'}}
      </div>
      <label class="icon-label">Ember</label>
    </div>

    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'js-logo' width='100' height='100'}}
      </div>
      <label class="icon-label">Javascript</label>

    </div>

    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'kubernetes-logo' viewBox='0 0 720 740' width='100' height='100'}}
      </div>
      <label class="icon-label">Kubernetes</label>
    </div>
    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'django-logo'  width='100' height='100'}}
      </div>
      <label class="icon-label">Django</label>
    </div>


    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'python-logo' viewBox='0 0 500 50' width='100' height='100'}}
      </div>
      <label class="icon-label">Python</label>
    </div>

    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'docker-logo'  width='100' height='100'}}
      </div>
      <label class="icon-label">Docker</label>
    </div>

    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'networkx'  width='100' height='100' class='networkx-logo'}}
      </div>
      <label class="icon-label">NetworkX</label>
    </div>

  </div>

  <div class="open-source-panel">
    <p>
      I also love to contribute to open source. I am active in the Ember community and maintain several projects
      including
      <a href="https://github.com/offirgolan/ember-light-table">Ember Light Table</a> and <a
      href="https://github.com/alphasights/ember-scrollable">Ember Scrollable</a>.
    </p>
  </div>

  <div class="on-the-horizon">
    <p>Below are some techonologies that I have played around with that are very interesting to me, and promising for
      the future of software development</p>.
  </div>

  <div class="icons-panel">

    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'elixir-logo' width='100' height='100'}}
      </div>
      <label class="icon-label">Elixir</label>
    </div>

    <div class="icon-holder">
      <div class="icon">
        {{svg-jar 'rust-logo' width='100' height='100'}}
      </div>
      <label class="icon-label">Rust</label>

    </div>
  </div>


</div>